<template>
    <div class="container mb-10">
        <div class="justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        Listing Users
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        
        data() {
            return {
                BASE_URL : "http://localhost/proj-mongo-ang/public/",
                users : [],
            }
        },

        mounted() {
            axios.get(this.BASE_URL+'api/users')
            .then(response => {
                this.users = response.data;
                this.emitToParent();
            });
            console.log(this.users.length);
        },

        methods : {
            emitToParent() {
                this.$emit('childToParent', this.users);
            }
        }
    }
</script>
