<template>
    <div class="container">
        <div class="row justify-content-center">
            <Example-Component v-on:childToParent="onChildLoad($event)"></Example-Component>
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Verification Status</th>
                        <th scope="col">Added On</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="user in users">
                        <th>{{ user.id }}</th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.email_verified_at ? 'Verified' : 'Pending' }}</td>
                        <td>{{ user.created_at }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import ExampleComponent from './ExampleComponent'
    export default {
        components : {
            ExampleComponent
        },
        
        data() {
            return {
                users : [],
            }
        },
        
        methods: {
            // Triggered when `childToParent` event is emitted by the child.
            onChildLoad (value) {
                this.users = value
            }
        }
    }
</script>